body
{
  width: 700px;
  margin: 0 auto;
  background: #F9F7F5;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.container
{
  padding: 15px;
  margin-bottom: 40px;
}
a
{
  color: purple;
}
a:hover
{
  color:orange;
}
.city-description
{
  font-size: 18px;
  padding-left: 15px;
}
h2
{
  border-bottom: 3px solid brown;
  padding-bottom: 15px;
  margin-right: 45px;

}
header
{
  text-align: center;
  background-color: white;
  padding: 15px;
}
section
{
  margin: 25px auto 25px auto;
  background-color: white;
  padding-top: 15px;
  padding-left: 35px;
  padding-left: 35px;
  padding-bottom: 15px;

}
section > img
{
 height: 75px;
 width: 75px;
 padding-right: 15px;
 padding-top: 10px;
}
