body
{
  width: 530px;
  margin: 0 auto;
  background: #F9F7F5;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.container
{
  padding: 15px;
  margin-bottom: 40px;
}
a
{
  color: purple;
}
a:hover
{
  color:orange;
}
.city-description
{
  font-size: 18px;
  padding-left: 15px;
}
section
{
  margin: 25px auto 25px auto;
  background-color: white;
  padding-right: 45px;
  padding-left: 35px;
  padding-top:15px;
  padding-bottom: 15px;
}
section > img
{
 height: 50px;
 width: 50px;
 padding-right: 10px;
 padding-top: 10px;
}
section > h2
{
  border-bottom: 3px solid #D19A61;
  padding:15px 0px 15px 0px !important;
}
header
{
  text-align: center;
  background-color: white;
  padding: 15px;
}
